/Theatre/Theatre.Api/bin/
/Theatre/Theatre.Api/obj/
/Theatre/Theatre.Application/bin/
/Theatre/Theatre.Application/obj/
/Theatre/Theatre.Domain/bin/
/Theatre/Theatre.Domain/obj/
/Theatre/Theatre.Errors/bin/
/Theatre/Theatre.Errors/obj/
/Theatre/.idea